<h1>My Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>
    <input type="checkbox" <%= "checked" if task.completed %>>
    <%= link_to task.title, task_path(task) %> .
    <%= link_to 'Delete', task_path(task), data: {:confirm => 'Are you ready?!'}, method: :delete %>
  </li>
  <% end %>
</ul>

<%= link_to "Add new task", new_task_path %>
